# Create a Postgres database on Vercel: https://vercel.com/postgres
POSTGRES_URL="postgres://default:2Jx0CqWkTSNl@ep-green-cell-a49pkkin-pooler.us-east-1.aws.neon.tech:5432/verceldb?sslmode=require"
POSTGRES_PRISMA_URL="postgres://default:2Jx0CqWkTSNl@ep-green-cell-a49pkkin-pooler.us-east-1.aws.neon.tech:5432/verceldb?sslmode=require&pgbouncer=true&connect_timeout=15"
POSTGRES_URL_NO_SSL="postgres://default:2Jx0CqWkTSNl@ep-green-cell-a49pkkin-pooler.us-east-1.aws.neon.tech:5432/verceldb"
POSTGRES_URL_NON_POOLING="postgres://default:2Jx0CqWkTSNl@ep-green-cell-a49pkkin.us-east-1.aws.neon.tech:5432/verceldb?sslmode=require"
POSTGRES_USER="default"
POSTGRES_HOST="ep-green-cell-a49pkkin-pooler.us-east-1.aws.neon.tech"
POSTGRES_PASSWORD="2Jx0CqWkTSNl"
POSTGRES_DATABASE="verceldb"

# Generate one here: https://generate-secret.vercel.app/32 (only required for localhost)
AUTH_SECRET=64594d6f3b58630ead6a27838676d060

# api football
API_FOOTBALL_KEY=fd89ed13dea4a4f01b40e15c33d2a273

# NextAuth
NEXTAUTH_SECRET="glpat-xs1xwhRURzRgnHCkasGW"
NEXTAUTH_URL=http://localhost:3000  # (in development)

#resend
RESEND_KEY=re_6EpHNh41_HrH7E6kpwdcnJJnPStmsSE6X